In [37]:
import pandas as pd
# bikesDiscretizado1Normalizado
# bikesDiscretizado2Normalizado

arquivo = 'Discretizado1Normalizado'
CaminhoArquivo = 'C:/Users/John/Desktop/Mestrado/Dissertacao/ProjetoBikes/Experimentos/Cidade/bikes' + arquivo +'.csv'

base = pd.read_csv(CaminhoArquivo, sep=';');
base.head()

,month,weekday,day,hour,workday,temperature,r_temperature,wind,humidity,dew_point,pressure,seasonN,qtd
0,0.0,0.0,0.0,0.000000,0.0,0.377778,0.366667,0.238095,0.275862,0.282609,0.480769,0.0,1
1,0.0,0.0,0.0,0.043478,0.0,0.355556,0.350000,0.238095,0.287356,0.282609,0.480769,0.0,1
2,0.0,0.0,0.0,0.086957,0.0,0.333333,0.333333,0.285714,0.356322,0.304348,0.500000,0.0,1
3,0.0,0.0,0.0,0.130435,0.0,0.333333,0.333333,0.222222,0.402299,0.304348,0.519231,0.0,1
4,0.0,0.0,0.0,0.173913,0.0,0.311111,0.333333,0.111111,0.425287,0.304348,0.519231,0.0,1

In [39]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier

import warnings
warnings.simplefilter("ignore")


Y = base['qtd']
X = base.drop('qtd', axis=1)

seed = 7
tamanho = 5

kfold=model_selection.KFold(n_splits=10, random_state=seed)
print('DT:')
model=BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=tamanho, random_state=seed)
results = cross_val_score(model, X, Y, cv=10, scoring='accuracy')
print('Acurácia: %.4f' % results.mean())
print('DesvioP: %.4f' % results.std())
model=BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=tamanho, random_state=seed)
results = cross_val_score(model, X, Y, cv=10, scoring='precision_macro')
print('Precisão: %.4f' % results.mean())
model=BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=tamanho, random_state=seed)
results = cross_val_score(model, X, Y, cv=10, scoring='recall_macro')
print('Recall: %.4f \n ' % results.mean())

DT:
Acurácia: 0.7730
DesvioP: 0.0917
Precisão: 0.7011
Recall: 0.6639